<!-- Header nav bar with brand and page links -->

<nav class="nav-bar">
    <div class="nav-logo">
      <a class="<%= active_class('/') %>" href="/">
      <h1>#</h1>
      </a>
    </div>
    <ul class="nav-linkbar">
      <li>
        <a
        class="<%= active_class('/') %>" href="/">
          <p>Home</p>
        </a>
      </li>
      <li>
        <a
        class="<%= active_class('/pages/about') %>" href="/pages/about">
          <p>About</p>
        </a>
      </li>
      <li>
        <a
        class="<%= active_class('/pages/contacts') %>" href="/pages/contacts">
          <p>Contacts</p>
        </a>
      </li>
      <li>
        <a
        class="<%= active_class('/pages/projects') %>" href="/pages/projects">
          <p>Projects</p>
        </a>
      </li>
    </ul>
</nav>
