<!DOCTYPE html>
<html>
  <head>
    <title>Filip Maslovaric</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <%= render 'application/favicon' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
