<!DOCTYPE html>
<html>
  <head>
    <title># Filip Maslovaric</title>
    <%= csrf_meta_tags %>

    <!-- Responsiveness Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FontAwesome code -->
    <script src="https://use.fontawesome.com/bc25f7bda9.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#222a68">
    <meta name="theme-color" content="#393939">

  </head>

  <body>
    <%= render 'shared/menu' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
